/* ================ */
/* Button Component */
/* ================ */

.wsh-Button {
    background-image: url('/images/nav-bg-light2.png');
    padding: 0.625em;
    margin: 0 0.625em 0.625em 0;
    min-width: 5em;
    text-decoration: none;
    border: 1px solid #4d52bd;
    
    -webkit-box-shadow: 2px 2px 6px #1b2090;
    -moz-box-shadow: 2px 2px 6px #1b2090;
    box-shadow: 2px 2px 6px #1b2090;
}

.wsh-Button:hover, .wsh-Button:focus {
    outline: none;    
    border-right: 10px solid #4d52bd;
}

.wsh-Button--submit {
  
}