/* ======================================== */
/* Utility Classes                          */
/* ======================================== */
/* Baseline Grid is spaced at 0.625rem      */
/* Body text takes up 2 gridlines - 1.25rem */
/* ======================================== */
.wsh-u-pageHeader {
    font-size: 2.25em; /* 2.25 rem */
    line-height: 1.1111111111em; /* 10/9 * 2.25em = 2.5 rem for 4 lines vertical rhythm per line */
    margin: 0 0 0.555555555555555em 0; /* 5/9 * 2.25em = 1.25 rem, for 1 line vertical rhythm below */
    font-weight: bold;
    font-family: 'alegreya-regular';
    color: #4b5068;
}

.wsh-u-sectionHeader {
    font-size: 1.5em; /* 1.5 rem */
    line-height: 1.25em; /* 1.25 * 1.5em = 1.875rem for 3 lines vertical rhythm */
    font-weight: bold;
    margin: 0 0 0.4166666666666667em 0; /* 0.4166... * 1.5 em = 0.625rem for 1 line vertical rhythm below */
    color: #4b5068; /* #4d52bd */ 
}

.wsh-u-sectionSubheader {
    font-size: 1.25em; /* 1.25 rem */
    line-height: 1.5em; /* 1.25 * 1.5em = 1.875 rem for 3 lines vertical rhythm */
    font-weight: bold;
    font-family: 'alegreya-regular';
}

.wsh-u-firstWord {
    color: #4d52bd;
}

.wsh-u-em {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-family: 'alegreya-regular';
}

.wsh-u-imgLink {
    padding: 0;
}

.wsh-u-imgBorder {
    border: 1px solid #4d52bd;
}

.wsh-u-shadow {
    -webkit-box-shadow: 2px 2px 6px #1b2090;
    -moz-box-shadow: 2px 2px 6px #1b2090;
    box-shadow: 2px 2px 6px #1b2090;    
}

.wsh-u-shadowDiffuse {
    -webkit-box-shadow: 7px 7px 21px #1b2090;
    -moz-box-shadow: 7px 7px 21px #1b2090;
    box-shadow: 7px 7px 21px #1b2090;        
}

.wsh-u-largeOnly {
    display: none;
}

.wsh-u-smallOnly {
    display: block;
}

.wsh-u-floatLeft {
    float: left;
}

.wsh-u-floatRight {
    float: right;
}

.wsh-u-clearBoth {
    clear: both;
}

.wsh-u-srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.wsh-u-textLeft {
    text-align: left;
}

.wsh-u-textRight {
    text-align: right;
}

.wsh-u-textCenter {
    text-align: center;
}

.wsh-u-fullHeightWrapper {
    min-height: 100%;
    position: relative;
}

.wsh-u-Spacer {
    height: 3.75em;
}