<!DOCTYPE html>
<html ng-app="portfolioApp" ng-controller="parentController">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <!--
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
        <script src="app.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/normalize.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    
    <body ng-cloak class="wsh-Body">        
        <header role="banner" class="wsh-Header">
            <div class="wsh-u-Row wsh-Header-nameBanner">
                <h1 class="wsh-u-pageHeader wsh-u-floatLeftLarge"><a href="index.html#/" class="wsh-Header-a"><span class="wsh-u-firstWord">Chris</span> Wong Sick Hong</a></h1>
                <nav role="navigation" class="wsh-PictogramNav wsh-u-floatRightLarge">
                    <a class="wsh-PictogramNav-a" ng-click="changePath('ui')" href=""><span aria-hidden="true" class="wsh-PictogramNav-a-iconSpan" data-icon="U"></span><span class="wsh-u-srOnly">UI/UX Design</span></a>
                    <a class="wsh-PictogramNav-a" ng-click="changePath('responsive')" href=""><span aria-hidden="true" class="wsh-PictogramNav-a-iconSpan" data-icon="("></span><span class="wsh-u-srOnly">UI/UX Design</span></a>
                    <a class="wsh-PictogramNav-a" ng-click="changePath('techdoc')" href=""><span aria-hidden="true" class="wsh-PictogramNav-a-iconSpan" data-icon="r"></span><span class="wsh-u-srOnly">UI/UX Design</span></a>
                    <a class="wsh-PictogramNav-a" ng-click="changePath('contact')" href=""><span aria-hidden="true" class="wsh-PictogramNav-a-iconSpan" data-icon="b"></span><span class="wsh-u-srOnly">UI/UX Design</span></a>
                </nav>
            </div><!--/.wsh-u-Row-->
            <div id="content-header" ng-if="content-header" class="wsh-Row wsh-Header-contentHeader">
                {{ content-header }}
            </div>
        </header>

        <div class="wsh-u-Row">
            <nav role="navigation" aria-label="Navigation Buttons" class="wsh-NavBar wsh-NavBar--insetRight wsh-u-largeOnly">
                <!-- Note to Self: must track by $index when iterating over arrays, but not objects -->
                <a role="button" href="" ng-repeat="navItem in navBar track by $index" ng-click="changePath(navItem.url)" class="wsh-NavBar-a" ng-class="{ 'wsh-NavBar-a--activeInsetRight': navItem.active, 'wsh-NavBar-a--inactiveInsetRight': !navItem.active }">
                    <h2 class="wsh-u-sectionHeader"><span class="wsh-u-firstWord">{{ navItem.firstWord }}</span> {{ navItem.nextWords }}</h2>
                </a>
            </nav>
            <main role="main" aria-labelledby="main-header" class="wsh-MainContent">
                <!-- Angular SPA transclusion here -->
                <ng-view></ng-view>
            </main>
        </div><!-- /.wsh-u-Row -->
        <div class="wsh-u-Row">
            <nav role="navigation" aria-label="Navigation Buttons" class="wsh-NavBar wsh-NavBar--bottom wsh-u-smallOnly">
                <a role="button" href="" ng-repeat="navItem in navBar track by $index" ng-click="changePath(navItem.url, $event)" class="wsh-NavBar-a" ng-class="{ 'wsh-NavBar-a--activeBottom': navItem.active, 'wsh-NavBar-a--inactiveBottom': !navItem.active }">
                    <h2 class="wsh-u-sectionHeader"><span class="wsh-u-firstWord">{{ navItem.firstWord }}</span> {{ navItem.nextWords }}</h2>
                </a>
            </nav>
        </div>
        
        <footer class="wsh-Footer">
            <small-print></small-print>
        </footer>
        
        <wsh-dialog ng-if="dialog.active" data="dialog" close="closeDialog(responseCode)"></wsh-dialog>
    </body>
</html>