<!-- defaults to non-modal -->
<div class="wsh-Dialog" ng-class="{'wsh-Dialog--modal': data.modal, 'wsh-Dialog--nonmodal': !data.modal}" role="dialog" aria-labelledby="wsh-dialog-title">
    <div class="wsh-Dialog-contentFrame" ng-class="{'wsh-u-shadowDiffuse': !data.modal}">
        <header class="wsh-Dialog-header">
            <h1 id="wsh-Dialog-title" class="wsh-Dialog-contentTitle"><span class="wsh-u-firstWord">{{ data.titleFirstWord }}</span> {{ data.titleRestWords }}</h1>
        </header>
        <div class="wsh-Dialog-message wsh-u-shadow">
            <p ng-repeat="paragraph in data.message track by $index">
                {{ paragraph }}
            </p>
        </div>
        <button ng-if="data.okLabel" role="button" type="button" class="wsh-Dialog-button wsh-u-shadow" ng-click="close({responseCode: 1})">{{ data.okLabel }}</button>
        <button ng-if="data.retryLabel" role="button" type="button" class="wsh-Dialog-button wsh-u-shadow" ng-click="close({responseCode: 0})">{{ data.retryLabel }}</button>
        <button ng-if="data.cancelLabel" role="button" type="button" class="wsh-Dialog-button wsh-u-shadow" ng-click="close({responseCode: -1})">{{ data.cancelLabel }}</button>
    </div>
</div>